<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fdzc.shop.dao.ReviewMapper">
    <sql id="Base_Column_List">
        id,product_id,user_id,create_time,update_time
    </sql>
    <insert id="insert" parameterType="Category">
        insert into review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                id,
            </if>
            <if test="productId!=null">
                product_id,
            </if>
            <if test="userId!=null">
                user_id,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="updateTime!=null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                #{id},
            </if>
            <if test="productId!=null">
                #{categoryName},
            </if>
            <if test="productId!=null">
                #{categoryName},
            </if>
            <if test="productId!=null">
                #{categoryName},
            </if>
            <if test="create!=null">
                #{createTime},
            </if>
            <if test="updateTime!=null">
                #{updateTime},
            </if>
        </trim>
    </insert>
    <select id="findByProductId" parameterType="string" resultType="Review">
        select
        <include refid="Base_Column_List"/>
        from review
        where prouduct_id=#{productId}
        order by update_time desc
    </select>

    <delete id="deleteById" parameterType="string">
        delete from review where review_Id = #{reviewId}
    </delete>
</mapper>